.channel-container {
  display: flex;
  align-items: stretch;
  width: 100vw;

  .display-channel {
    background-color: white;
    width: 100%;

    /*Channel header styling*/

    .channel-header {
      border-bottom: 1px solid lightgrey;
      height: 45px;
      padding: 5px 0 5px 20px;

      h1 {
        font-size: 20px;
        font-weight: 900;
        margin: 0;
      }

      .ch-info-bar {
        color: #707070;
        font-size: 13px;
        margin-top: 5px;

        .clickable-icon {
          display: inline;
          border-left: 1px solid lightgrey;
          cursor: pointer;
          padding: 0px 5px;

          i.fa-user-o {
            margin-right: 3px;
          }

        }

        .clickable-icon:first-of-type {
          border-left: none;
          padding-left: 0px;
        }
      }

      form.ch-topic-form {
        border-left: 1px solid lightgrey;
        display: inline;
        padding-left: 5px;
        margin-left: 5px;

        input {
          background-color: inherit;
          border: none;
          color: inherit;
          cursor: pointer;
          font-size: inherit;
          text-overflow: ellipsis;
          width: calc(100% - 150px);
        }
      }
    }

    /*Messages styling*/

    .msgs-container {
      display: flex;
      flex-direction: column-reverse;
      color: #303030;
      font-size: 16px;
      height: calc(100vh - 140px);
      overflow-x: hidden;
      overflow-y: auto;
      padding-left: 20px;
      padding-bottom: 10px;

      .day-container {
        display: flex;
        flex-direction: column-reverse;

        .day-header {
          text-align: center;
          margin: 3px 0 3px 0;
          padding-bottom: 2px;
          border-bottom: 1px solid lightgrey;
        }

        .message {
          cursor: text;
          display: flex;
          flex-shrink: 0;
          min-height: 20px;
          padding: 2px 40px 4px 0;

          .message-gutter {
            align-items: center;
            color: #a0a0a0;
            display: flex;
            font-size: 12px;
            margin-right: 10px;
            min-width: 36px;

            .timestamp {
              margin: 0 auto;
              display: none;
            }

            img.avatar {
              align-self: flex-start;
              height: 36px;
              width: 36px;
              border-radius: 3px;
              cursor: default;
            }
          }

          .message-main-container {
            display: flex;
            flex-direction: column;
            width: 100%;

            .message-norxn-container {
              display: flex;
              justify-content: space-between;

              .message-container {
                .message-header {
                  color: #a0a0a0;
                  font-size: 12px;

                  strong {
                    color: black;
                    font-size: 16px;
                    font-weight: 900;
                    margin-right: 5px;
                  }
                }

                .message-content {
                  max-width: 1200px;
                  word-wrap: break-word;
                }
              }

              .msg-buttons-container {
                display: flex;

                .clickable-icon {
                  max-height: 20px;
                  display: flex;
                  align-items: center;
                }

                .clickable-icon i {
                  cursor: pointer;
                  font-size: 20px;
                  display: none;
                  background-color: white;
                  padding: 3px;
                  border: 1px solid lightgrey;
                  border-right: none;
                }

                .clickable-icon i.pinned {
                  display: inline;
                }

                .clickable-icon:first-child i {
                  border-top-left-radius: 5px;
                  border-bottom-left-radius: 5px;
                }

                .clickable-icon:last-child i {
                  border-right: 1px solid lightgrey;
                  border-top-right-radius: 5px;
                  border-bottom-right-radius: 5px;
                }
              }
            }

            .reaction-bar {
              display: flex;
              flex-wrap: wrap;
              margin-top: 2px;

              .emoji {
                cursor: pointer;
                display: flex;
                border: 1px solid #E0E0E0;
                border-radius: 5px;
                color: #A0A0A0;
                font-size: 11px;
                margin: 2px 6px 2px 0;
                padding: 2px;
                align-items: center;

                img {
                  height: 16px;
                  width: 16px;
                  margin-right: 2px;
                }
              }

              .emoji:hover,.emoji.pressed {
                color: lightblue;
                border-color: lightblue;
              }

              .emoji.pressed {
                font-weight: 900;
              }
            }
          }
        }

        .message:hover {
          background-color: #f5f5f5;

          .message-gutter .timestamp {
            display: inline;
          }

          .message-norxn-container .msg-buttons-container {
            .clickable-icon i {
              display: inline;
            }
          }
        }


        .message-form textarea {
          height: 40px;
          resize: none;
          width: calc(100% - 60px);
          border: 1px solid grey;
          border-radius: 8px;
        }

        .message-form textarea:focus{
          outline: none;
        }
      }

    }


    /*New Message Form styling*/

    .new-message-form {
      height: 40px;
      padding-left: 20px;

      .prompt-subscribe {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: grey;
          font-size: 16px;
        }

        button {
          background-color: #2AB27B;
          border: none;
          color: white;
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;
          margin-left: 10px;
          padding: 5px 10px;
        }
      }

      textarea {
        border: 2px solid lightgrey;
        border-radius: 8px;
        color: #404040;
        font-size: 16px;
        padding: 2px 5px;
        resize: none;
        width: calc(100% - 70px);
      }

      textarea:focus {
        outline: none;
      }
    }
  }

  aside#channel-sidebar {
    width: 350px;
    border-left: 1px solid lightgrey;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;

    section {

      h2 {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 30px 0;

        .close-button:before {
          display: inline;
          cursor: pointer;
          padding: 5px 7px;
          border-radius: 50%;
        }

        .close-button:hover:before {
          background-color: darkgrey;
        }
      }

      h3 {
        margin: 0;
      }

      p {
        margin-bottom: 30px;
      }

      ul {
        height: 50vh;
        overflow: auto;

        .index-li {
          display: flex;
          align-items: center;
          border-top: 1px solid lightgrey;
          padding: 12px 16px;

          img {
            width: 36px;
            height: 36px;
            margin-right: 10px;
            border-radius: 3px;
          }

          p,span {
            display: block;
            margin: 0;
          }

          .channel-name {
            color: #555555;
            font-size: 16px;
          }

          .channel-description,.channel-timestamp {
            color: #707070;
            font-size: 14px;
          }

          .channel-timestamp {
            font-style: italic;
          }
        }

        .index-li:last-child {
          border-bottom: 1px solid lightgrey;
        }

        .index-li:hover {
          cursor: pointer;
          background-color: #D0E0FF;
        }
      }
    }
  }
}
