.emoji-picker {
  align-items: baseline;
  background-color: #f0f0f0;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2px;
  right: 0;
  top: 60px;
  width: 300px;
  height: 400px;

  .picker-close {
    background-color: #f0f0f0!important;
    border: none!important;
    border-radius: 10px;
    align-self: flex-end;
  }

  input {
  }

  span {
    font-size: 16px;
  }
}
