.modal-index-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: space-between;;
  align-items: center;
}

.channel-index {
  overflow: hidden;
  width: 600px;
}

.search-bar-container {
  display: flex;
  align-items: stretch;
  height: 40px;
}

.search-bar-container>input[type="submit"] {
  background-color: #2AB27B;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px;
  width: 60px;
}

.search-bar-container .search-bar {
  width: calc(100% - 80px);
}

.channel-index .search-bar {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  height: 40px;
}


.channel-index .search-bar input {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.channel-index .search-bar input:focus {
  outline: none;
}

.channel-index .search-bar {
  display: flex;
}

.channel-index .search-bar .fa {
  align-self: center;
  color: #bbbbbb;
  margin: 0 5px;
}

.channel-index .search-bar .selected-users {
  display: flex;
  padding-left: 4px;
}

.channel-index .search-bar .selected-user-tab {
  display: flex;
  color: white;
  border-radius: 3px;
  background-color: blue;
  cursor: pointer;
  font-size: 14px;
  height: 18px;
  margin: 10px 2px;
  padding: 2px;
}

.selected-user-tab>p {
  margin: auto;
}

.channel-index ul {
  height: 50vh;
  overflow: auto;
}

.channel-index .index-li {
    border-top: 1px solid lightgrey;
    padding: 16px;
}

.channel-index .index-li:last-child {
    border-bottom: 1px solid lightgrey;
}

.channel-index .index-li:hover {
  cursor: pointer;
  background-color: #D0E0FF;
}

.channel-index .index-li>p,span {
  display: block;
  margin:0;
}

.channel-index .index-li .channel-name {
  color: #555555;
  font-size: 16px;
}

.channel-index .index-li .channel-description,.channel-timestamp {
  color: #707070;
  font-size: 14px;
}

.channel-index .index-li .channel-timestamp {
  font-style: italic;
}

.modal-close-button {
  align-self: flex-end;
  cursor: pointer;
  text-align: right;
}

.modal-close-button .fa {
  color: #707070;
}

form.new-channel-form {
  border: 1px solid lightgrey;
  border-bottom: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  padding: 0 40px;
}

form.new-channel-form input[type="text"] {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  margin: 10px 0;
  padding: 0 5px;
}

form.new-channel-form input[type="submit"] {
  background-color: #2AB27B;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;

}

form.new-channel-form textarea {
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
    height: 80px;
    margin: 10px 0;
    padding: 5px;
}

.user-dropdown {

  input[type="submit"] {
    background-color: #2AB27B;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px;
  }

  input[type="submit"]:hover {
    border-bottom: 2px solid #20865D;
    cursor: pointer;
  }

  .avatar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;

    label.avatar-container {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      p.avatar-hint {
        position: relative;
        bottom: 100px;
        display: none;
        font-size: 20px;
        color: white;
        font-weight: bold;
        height: 0;
      }

      img {
        height: 200px;
        width: 200px;
      }
    }

    label.avatar-container:hover {

      p.avatar-hint {
        display: block;
      }
    }

    .upload-success {
      color: red;
      font-size: 12px;
      text-align: center;
    }
  }
}
