<!DOCTYPE html>
<html>
  <head>
    <title>Slabb</title>
    <script src="https://use.fontawesome.com/c21ff7d00f.js"></script>
    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
